input[type="button"] {
    line-height: 30px;
    font-size: 14px;
    border: 2px solid black;
}

input[type="range"]{
    /*right-margin: 20px;*/
    width: 90%;
}

div#gameOver {
    display: none;
    position: absolute;
    left: 350px;
    top: 100px;
    font-size: 100px;
    z-index: 101;
    color: black;
    background-color: lightgray;
    padding: 50px;
}

canvas#canvas {
    z-index: 100;
}

input#restart {
    position: relative;
    left: 40%;
}

br {
    line-height: 20px;
}

body {
    margin: 0;
}

div#tankControls{
    display: inline-block;
    width: 60%;
    padding-right: 20px;
}

div#fire{
    display: inline-block;
    width: 10%;
    text-align: center;
    position: relative;
    top: -10px;
}

input#fireButton{
    width: 100%;
}

div#score{
    display: inline-block;
    width: 26%;
    font-size: 30px;
    border: 1px solid black;
}

div{
    /*border: 1px solid red;*/
}



label#gameScoreLabel{
    margin-left: 20px;
}

