input[type="button"] {
    line-height: 30px;
    font-size: 14px;
    border: 2px solid black;
}

input[type="range"]{
    /*right-margin: 20px;*/
    width: 100%;
}

div#sliderLabels{
    width: 120px;
    float: left;
}

div#sliderLabels label,
div#sliderValueLabels label{
    display: block;
}

div#sliders{
    width:70%;
    float: left;
}

div#sliderValueLabels{
    width:5%;
    float: left;
    padding-left: 5px;
}

div.gameMessage {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -210px;
    margin-left: -282px;
    z-index: 101;
    color: black;
    background-color: lightgray;
    padding: 30px;
}

div#startGame {
    font-size: 20px;
}
div#gameOver {
    font-size: 100px;
}

th{
    font-size: 30px;
    font-weight: bold;
    /*border: 1px solid red;*/
    padding-bottom: 30px;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    /*border: 1px solid red;*/
}

canvas#canvas {
    z-index: 100;
}

input.start {
    position: relative;
    left: 40%;
    width: 100px;
    margin-top: 30px;
}

br {
    line-height: 20px;
}

body {
    margin: 0;
}

div#tankControls{
    display: inline-block;
    width: 60%;
}

div#tankControls span.labelContainer {
    width: 10%;
    min-width: 20px;

}

div#tankControls label{
    width: 100%;
}

div#fire{
    display: inline-block;
    width: 10%;
    text-align: center;
    position: relative;
    top: -10px;
}

input#fireButton{
    width: 100%;
}

div#score{
    display: inline-block;
    width: 26%;
    font-size: 30px;
    border: 1px solid black;
}

div{
    /*border: 1px solid red;*/
}



label#gameScoreLabel{
    margin-left: 20px;
}

